[Desktop Entry]
Type=Application
Exec=bash -c 'gsettings set org.gnome.desktop.lockdown disable-lock-screen true'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=DisableLockScreen
Comment=Disable the lock screen
