[Desktop Entry]
Type=Application
Exec=/home/vagrant/Eclipse/eclipse/eclipse
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Eclipse IDE
Name=Eclipse IDE
Comment[en_US]=
Comment=
